@media (max-width: 1024px) {
  .container {
    margin: 0 37px;
  }

  .advantages {
    &__item {
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

}

@media (max-width: 667px) {
  .header__phone {
    font-size: 17px;
  }

}

@media (max-width: 425px) {
  .promo {
    padding-bottom: 50px;
    &__wrapper {
      margin-top: 60px;
      align-items: center;
    }
    .header {
      flex-direction: column;
      &__logo {
        margin-top: 10px;
      }
      &__official {
        margin-top: 20px;
        font-size: 20px;
        span {
          font-size: 23px;
        }
      }
      &__contacts {
        margin-top: 30px;
        align-items: center;
        button {
          margin-top: 10px;
          width: 190px;
          height: 45px;
        }
      }
    }
    &__header {
      font-size: 36px;
    }
  }
  .advantages {
    padding: 50px 0 50px 0;
    &__header {
      font-size: 23px;
    }
    &__wrapper {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 40px;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
  .consultation{
    min-height: 570px;
    padding: 50px 0 50px 0;

    .title_left {
      font-size: 23px;
    }
    &__desc {
      font-size: 17px;
    }
  }

}

@media (max-width: 375px) {
  .promo {
    .header {
      &__official {
        font-size: 16px;
        span {
          font-size: 20px;
        }
      }
    }
    &__header {
      font-size: 30px;
    }
    &__subheader {
      font-size: 20px;
    }
    &__wrapper {
      .button_main {
        width: 250px;
      }
    }
  }

}

@media (max-width: 320px) {
  .consultation{
    padding: 50px 0 50px 0;
    .title_left {
      font-size: 17px;
    }
    &__desc {
      font-size: 15px;
      line-height: 17px;
    }
  }

}