* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.promo {
    height: 800px;
    background: url(../img/bg/main_bg.jpg) center center/cover no-repeat;
    padding: 39px 0px 62px 0px;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color: #FFF;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}


.title {
    color: #F9BF3B;
    text-align: justify;
    font-family: Roboto;
    font-size: 41px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.simple .title_big {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
}

h1 {
    margin: 53px 0 0 0;
}

.promo .promo_text {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}

.promo .promo_text span {
    color: #F9BF3B;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
}

.promo .promo_btn, .gift .gift_btn {
    display: block;
    margin: 72px auto;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%); 
    color: #FFF;
    text-align: center;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    font-family: Roboto;
    font-size: 21px;
    text-transform: uppercase;
    cursor: pointer;
}

.more .more_text {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    text-transform: uppercase;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    background-color:#EFEFEF;
    min-height: 607px;
    padding: 88px 0px 75px 0px;
}

.waiting .waiting_header, .finish .finish_header, .first_webinar .first_webinar_header {
    color: #252525;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.finish .finish_header{
    color:#FFF;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 220px;
    height: 7px;
    background-color: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    color: #4A4A4A;
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    margin-top: 18px;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    display: inline-block;
    vertical-align: top;
    width: 342px;
    text-align: center;

}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 26px;
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px
}

.optimization {
    min-width: 550px;
    padding: 110px 0px 75px 0px;
}

.optimization_header, .first_webinar .first_webinar_subheader {
    margin-left: 390px;
    color: #299CBD;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
}

.optimization_text {
    margin-top: 25px;
    margin-left: 390px;
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}

.optimization_text span {
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700;
    line-height: 27px;
}

.optimization_img {
    position: absolute;
    top: -55px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url(/src/img/bg/second_bg.jpg) center center/cover no-repeat;

}

.finish .finish_wrapper {
    padding-top: 39px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 234px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 110px;
    height: 110px;
    background-color: #B4E2FF;
    border-radius: 50%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    color: #EFEFEF;
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

.gift {
    background-color: #efefef;
    padding: 86px 0 88px 0;
}

.gift .gift_img {
    display: block;
    margin: 0 auto;
}

.gift .gift_discr {
    margin-top: 45px;
    color: #252525;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 43px; 
}

.gift .gift_btn {
    margin: 0 auto;
    margin-top: 50px;
}

.first_webinar {
    background-color:#00000000;
    padding: 88px 0 52px 0;
}

.first_webinar .first_webinar_img {
    display: block;
    margin: 0 auto;
}

.first_webinar .first_webinar_header {
    margin-top: 36px;
}

.first_webinar .first_webinar_subheader {
    margin-top: 30px;
    margin-left: 0;
    text-align: center;
    font-size: 30px;
}

.first_webinar .first_webinar_text {
    margin-top: 25px;
    color: #4A4A4A;
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
}

.futer {
    background-color: #1A1A1A;
    padding: 57px 0 69px 0;
}

.futer .futer_links {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;

}

.futer .futer_links .futer_lnk:not(:last-child) {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid;
    color: #888;
}

.futer .futer_support {
    color: #888;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-decoration-line: underline;
}

.futer .futer_confidens {
    color: #888;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-decoration-line: underline;
}

.futer .futer_call_us {
    padding-top: 5px;
    color: #888;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}