.advantages {
  padding: 73px 0 65px 0;
  min-height: 473px;
  background-color: #F6F6F6;
  &__header {
    color: #0D0D0D;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }
  &__wrapper {
    display: flex;

  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    img {
      width: 70px;
      height: 70px;
    }
  }
  &__text {
    color: #0D0D0D;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
  &__disc {
    color: #0D0D0D;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    span {
      color: #F00;
      text-transform: uppercase;
      text-decoration-line: underline;
    }
  }
}