.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  max-width: 300px;

  input {
    height: 54px;
    margin-bottom: 11px;
    border-radius: 5px;
    border: 0;
    padding-left: 21px;
    color: #4B4B4B;
    font-size: 14px;
    font-weight: 400;
    &:last-child {
      margin-bottom: 17px;
    }
  }
  &_mt25 {
    margin-top: 25px;
  }

  .error {
    border: 1px solid red;
  }
  label.error {
    text-align: center;
    margin-bottom: 20px;
    border: none;
  }
}